#!/bin/bash

{% if restore_bareos_backup_bareos_server is defined %}
bareos_server="{{ restore_bareos_backup_bareos_server }}"
{% endif %}
{%- if restore_bareos_backup_bareos_client_to_restore is defined %}
client="{{ restore_bareos_backup_bareos_client_to_restore }}"
{% endif %}
{%- if restore_bareos_backup_date_before is defined %}
date_before="{{ restore_bareos_backup_date_before }}"
{% endif %}
{%- if restore_bareos_backup_fileset is defined %}
fileset="{{ restore_bareos_backup_fileset }}"
{% endif %}
{%- if restore_bareos_backup_destination_client is defined %}
destination_client="{{ restore_bareos_backup_destination_client }}"
{% endif %}
{%- if restore_bareos_backup_jobid is defined %}
jobid="{{ restore_bareos_backup_jobid }}"
{% endif %}
{%- if restore_bareos_backup_restore_file_path_on_client is defined %}
restore_to="{{ restore_bareos_backup_restore_file_path_on_client }}"
{% endif %}
{%- if restore_bareos_backup_replace_files_on_client is defined %}
replace="{{ restore_bareos_backup_replace_files_on_client }}"
{% endif %}
{%- if restore_bareos_backup_wait_job_timeout is defined %}
timeout="{{ restore_bareos_backup_wait_job_timeout }}"
{% endif %}

if [ ! "$client" ]; then
    echo "restore_bareos_backup_bareos_client_to_restore var is not defined, exiting"
    exit 1
fi

if [ ! "$fileset" ]; then
    echo "restore_bareos_backup_fileset var is not defined, exiting"
    exit 1
fi

if [ ! "$replace" ]; then
    echo "restore_bareos_backup_replace_files_on_client var is not defined"
    exit 1
fi

if [ "$restore_to" ]; then
    where_str="where=$restore_to"
fi

if [ "$jobid" ]; then
    jobid_str="jobid=$jobid"
fi

if [ "$destination_client" ]; then
    restoreclient_str="restoreclient=$destination_client"
fi

if [ "$date_before" ]; then  # Restore everything before specified date
    cmd="restore client=$client $restoreclient_str all done before=\"$date_before\" fileset=$fileset $where_str replace=$replace select yes"
elif [ "$jobid" ]; then  # Restore only files from given JobID
    cmd="restore client=$client $restoreclient_str all done fileset=$fileset $where_str $jobid_str replace=$replace yes"
else  # Restore all files in given Fileset
    cmd="restore client=$client $restoreclient_str all done fileset=$fileset $where_str replace=$replace select yes"
fi

output="$(echo $cmd |bconsole)"

if ! grep 'Job queued. JobId=' <<< "$output"; then
    echo "Bareos failed to start the job. Console output is:"
    echo
    echo "$output"
    exit 1
fi

jobid_str=$(echo "$output" | grep 'Job queued. JobId=')
jobid=$(echo -n "$jobid_str" |sed "s/Job queued. JobId=//")
#echo "Jobid: $jobid"

i=0
while true; do
    job_status=$(echo "list jobid=$jobid" |bconsole | tail -n +10 |head -n 1 |cut -d "|" -f 10 | sed 's/ //g')
    #echo "Job_status: $job_status"
    if [ "$job_status" = "T" ]; then
        echo "Success"
        exit 0
    fi
    sleep 1
    i=$((i+1))

    if [ "$i" -gt "$timeout" ]; then
        echo "Job with JobID=$jobid wasn't restored within $timeout seconds. Giving up, check status manually in bareos with command 'list jobid=$jobid'"
        exit 1
    fi
done

exit 0
