#!/bin/bash

{% if restore_bareos_backup_bareos_server is defined %}
bareos_server="{{ restore_bareos_backup_bareos_server }}"
{% endif %}
{%- if restore_bareos_bareos_client_to_restore is defined %}
client="{{ restore_bareos_bareos_client_to_restore }}"
{% endif %}
{%- if restore_bareos_date_before is defined %}
date_before="{{ restore_bareos_date_before }}"
{% endif %}
{%- if restore_bareos_fileset is defined %}
fileset="{{ restore_bareos_fileset }}"
{% endif %}
{%- if restore_bareos_destination_client is defined %}
destination_client="{{ restore_bareos_destination_client }}"
{% endif %}
{%- if restore_bareos_jobid is defined %}
jobid={{ restore_bareos_jobid }}
{% endif %}
{%- if restore_bareos_backup_restore_file_path_on_client is defined %}
restore_to="{{ restore_bareos_backup_restore_file_path_on_client }}"
{% endif %}
{%- if restore_bareos_backup_replace_files_on_client is defined %}
replace="{{ restore_bareos_backup_replace_files_on_client }}"
{% endif %}



if [ ! "$client" ]; then
    echo "restore_bareos_bareos_client_to_restore var is not defined, exiting"
    exit 1
fi

if [ ! "$fileset" ]; then
    echo "restore_bareos_fileset var is not defined, exiting"
    exit 1
fi

if [ ! "$replace" ]; then
    echo "restore_bareos_backup_replace_files_on_client var is not defined"
    exit 1
fi

if [ "$restore_to" ]; then
    where_str="where=$restore_to"
fi

if [ "$jobid" ]; then
    jobid_str="jobid=$jobid"
fi

if [ "$date_before" ]; then  # Restore everything before specified date
    cmd="restore client=$client all done before=\"$date_before\" fileset=$fileset $where_str replace=$replace select yes"
elif [ "$jobid" ]; then  # Restore only files from given JobID
    cmd="restore client=$client all done fileset=$fileset $where_str $jobid_str replace=$replace yes"
else  # Restore all files in given Fileset
    cmd="restore client=$client all done fileset=$fileset $where_str replace=$replace select yes"
fi

echo $cmd |bconsole
